@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border: #374151;
  }
}

body {
  margin: 0;
  padding: 0;
}
